@media (min-width: 1200px){
    .container {
        max-width: 1176px !important;
    }
    .container--smaller{
        max-width: 950px !important;
    }
    .container--w754{
        max-width: 754px !important;
    }
}
