// NAVBAR 
$navlink_color: #444;
$navbar_lineHeight: 14px;
$navlink_fontSize: 12px;
$navlink_paddingTB: 24px; //2.625rem;
$navlink_paddingLR: 24px;
$navlink_bottomLineHeight: 3px;
$navbar_logo_height: 40px;