@media (min-width: 1200px) {
  /* line 2, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_containers.scss */
  .container {
    max-width: 1176px !important;
  }
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

/* line 10, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=phone],
input[type=search-md],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url], textarea.form-control,
select.form-control
input[type=date].input-alternate:focus,
input[type=date].input-alternate:hover,
input[type=datetime-local].input-alternate:focus,
input[type=datetime-local].input-alternate:hover,
input[type=email].input-alternate:focus, input[type=email].input-alternate:hover,
input[type=number].input-alternate:focus, input[type=number].input-alternate:hover, input[type=password].input-alternate:focus, input[type=password].input-alternate:hover, input[type=search-md].input-alternate:focus, input[type=search-md].input-alternate:hover, input[type=search].input-alternate:focus, input[type=search].input-alternate:hover, input[type=tel].input-alternate:focus, input[type=tel].input-alternate:hover, input[type=text].input-alternate:focus, input[type=text].input-alternate:hover, input[type=time].input-alternate:focus, input[type=time].input-alternate:hover, input[type=url].input-alternate:focus, input[type=url].input-alternate:hover,
textarea.md-textarea.input-alternate:focus, textarea.md-textarea.input-alternate:hover {
  box-shadow: none !important;
  box-sizing: border-box !important;
  height: 44px !important;
  border-radius: 4px !important;
  background-color: #FFF;
  border: solid 1px #E0E0E0;
  padding: 0 15px;
  border-bottom: solid 1px #E0E0E0 !important;
}

/* line 41, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
label {
  line-height: 22px;
  font-family: 'Nunito-Regular';
  font-size: 16px;
  font-weight: 600;
  color: #4f4f4f;
}

/* line 48, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
input {
  margin: 0 !important;
}

/* line 51, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
.md-form {
  margin-bottom: 16px;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.none-list-style-type {
  list-style-type: none;
}

/* line 5, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.mt-52 {
  margin-top: 52px !important;
}

/* line 9, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.c-red {
  color: #FF5A5F !important;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.c-blue {
  color: #6EC0D4 !important;
}

/* line 18, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.fw-600 {
  font-weight: 600 !important;
}

/* line 23, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.opacity_1 {
  opacity: 1 !important;
}

@font-face {
  font-family: "Nunito-ExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraLightItalic";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-LightItalic";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBoldItalic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-BoldItalic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraBoldItalic";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-BlackItalic";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Nunito-BlackItalic.ttf") format("truetype");
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: transparent;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar {
  border-radius: 0;
  box-shadow: none !important;
  margin-bottom: 0 !important;
  padding: 32px 0 0 0 !important;
}

/* line 12, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .navbar-brand {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 991px) {
  /* line 12, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
  .navbar .navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

/* line 22, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .navbar-brand img {
  max-height: 65.7px !important;
}

@media (max-width: 991px) {
  /* line 22, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
  .navbar .navbar-brand img {
    height: 40px;
  }
}

/* line 30, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link {
  font-size: 24px;
  line-height: 33px !important;
  padding: 17px 12px !important;
  font-family: "Nunito-SemiBold";
  font-weight: 600;
  text-transform: capitalize;
}

/* line 39, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link__red {
  color: #FF5A5F !important;
}

/* line 43, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link__blue {
  color: #6EC0D4 !important;
}

/* line 47, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-item {
  position: relative;
}

/* line 50, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-item:last-child .nav-link {
  padding-right: 0 !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner {
  align-items: center;
  display: flex;
  height: 425px;
  justify-content: center;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner .banner__small-heading {
  line-height: 33px;
  font-family: 'Nunito-Regular';
  font-size: 24px;
  color: #333333;
  margin-bottom: 26px;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner .banner__big-heading {
  line-height: 81px;
  font-family: 'Nunito-Bold';
  font-size: 64px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 24px;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs {
  padding: 88.7px 0 65px 0;
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .container {
  max-width: 530px !important;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-tabs {
  border-bottom: 0 !important;
}

/* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
}

/* line 17, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-item:last-child .nav-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
}

/* line 23, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-tabs .nav-link {
  border: 0 !important;
  background-color: transparent;
  line-height: 28px;
  font-family: 'Nunito-Regular';
  font-size: 20px;
  font-weight: 600;
  color: #4F4F4F;
  padding: 21px;
}

/* line 33, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-tabs .nav-item.show .nav-link, section.tabs .nav-tabs .nav-link.active {
  color: #4F4F4F;
  background-color: #F2F2F2;
}

/* line 38, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab-body {
  background: #F2F2F2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 18px 42px 32px 42px;
}

/* line 44, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__buttons-group {
  margin-bottom: 25px;
}

/* line 46, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__buttons-group .btn {
  width: 200px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 10px 0 9px 0;
  line-height: 25px;
  font-family: 'Nunito-Regular';
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px !important;
}

/* line 56, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__buttons-group .btn [class*='fa-'] {
  font-size: 1.51rem;
  vertical-align: middle;
  margin-top: -8px;
  margin-right: 8px;
}

/* line 65, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .divider {
  text-align: center;
  border-top: 1px solid #171717;
  margin: 0 auto;
  max-width: 372px;
  display: block;
}

/* line 72, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .divider__word {
  position: relative;
  top: -13px;
  width: 40px;
  margin: 0 auto;
  background: #F2F2F2;
}

/* line 80, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__form .rememberme {
  line-height: 20px;
  font-family: 'Nunito-Regular';
  font-size: 14px;
  font-weight: 600;
}

/* line 86, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__form .btn {
  margin-top: 24px;
  line-height: 25px;
  font-family: 'Nunito-Regular';
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 9px 0;
  border-radius: 4px !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  display: none;
  padding: 32px 91px 26px 91px !important;
  position: relative;
  width: 100%;
  max-width: 692px;
}

/* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal input[type='file'] {
  display: none;
}

/* line 14, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal input[type='file'] + label {
  border: 1px solid #BDBDBD;
  background-color: transparent;
  padding: 0;
  max-width: 400px;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
}

/* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal input[type='file'] + label span,
.modal input[type='file'] + label strong {
  padding: 0.625rem 1.25rem;
}

/* line 33, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal input[type='file'] + label span {
  flex: 1;
}

/* line 36, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal input[type='file'] + label strong {
  height: 100%;
  background-color: #E0E0E0;
  display: inline-block;
  font-family: 'Nunito-SemiBold';
  font-size: 16px;
  font-weight: 600;
  color: #828282;
  width: 105px;
}

/* line 49, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__heading {
  font-family: 'Nunito-SemiBold';
  font-size: 16px;
  font-weight: 600;
  color: #4F4F4F;
  margin-bottom: 32px;
}

/* line 57, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__file-container {
  margin: 8px auto 34px auto;
}

/* line 61, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__divider input[type='radio'] {
  width: 16px;
  height: 16px;
  align-self: center;
}

/* line 66, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__divider label {
  line-height: 21px;
  font-family: 'Nunito-SemiBold';
  font-size: 16px;
  font-weight: 600;
  color: #4F4F4F;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads {
  padding: 60.7px 0 52px 0;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__heading {
  line-height: 41px;
  font-family: 'Nunito-Bold';
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 16px;
}

/* line 22, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__subheading {
  line-height: 23px;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: bold;
  color: #828282;
  margin-bottom: 40px;
}

/*styling of input/photo */
/* line 32, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__image-container {
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-bottom: 34px;
}

/* line 38, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__picture {
  max-width: 450px;
  height: 390px;
  margin: 5px auto;
  overflow: hidden;
}

/* line 46, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 57, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__picture-src {
  width: 100%;
  height: 100%;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_mask.scss */
.mask__wrap {
  width: 79px;
}

/* line 5, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_mask.scss */
.mask__circle {
  width: 56px;
  height: 56px;
  background-color: #BDBDBD;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 0.5px;
  border-image-source: linear-gradient(to top, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
  border-image-slice: 1;
  border-radius: 100%;
  color: #FFF;
}

/* line 18, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_mask.scss */
.mask__text {
  font-family: 'Nunito-Bold';
  font-size: 24px;
  font-weight: bold;
  color: #828282;
  margin: 24px 0 0 0;
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects {
  padding: 60.7px 0 58px 0;
}

/* line 5, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .card {
  box-shadow: none !important;
  background: transparent !important;
}

/* line 9, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .card-body {
  padding: 16px 0 !important;
}

/* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .card-body div.d-flex {
  margin-bottom: 16px;
}

/* line 15, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .view.overlay {
  border-radius: 4px !important;
  border: solid 1px #E0E0E0;
}

/* line 19, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .btn-brand--custom-block {
  margin-top: 24px;
}

/* line 22, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects label.mask {
  opacity: 1 !important;
}

/* line 24, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects label.mask .mask__input {
  height: 24px;
  width: 24px;
  top: 16px;
  right: 16px;
  position: absolute;
}

/* line 32, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects a.view.overlay {
  cursor: pointer;
}

/* line 36, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__heading {
  line-height: 41px;
  font-family: 'Nunito-Bold';
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 8px;
}

/* line 45, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__subheading {
  line-height: 18px;
  font-family: 'Nunito-Bold';
  font-size: 14px;
  font-weight: bold;
  color: #BDBDBD;
  margin-bottom: 40px;
}

/* line 54, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__subheading-button {
  margin-top: 15px;
  margin-bottom: 42px;
}

/* line 59, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__line {
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-size: 20px;
  font-weight: bold;
  color: #4F4F4F;
  margin-bottom: 30px;
}

/* line 66, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__line span {
  line-height: 22px;
  font-family: 'Nunito-BoldItalic';
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #BDBDBD;
}

/* line 76, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__img {
  width: 100%;
  height: 260px;
}

/* line 81, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__name {
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-size: 20px;
  font-weight: bold;
  color: #4F4F4F;
}

/* line 89, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__date,
.projects__correction {
  line-height: 21px;
  font-family: 'Nunito-Bold';
  font-size: 16px;
  font-weight: bold;
  color: #BDBDBD;
}

/* line 99, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__number {
  line-height: 21px;
  font-family: 'Nunito-Regular';
  font-size: 16px;
  color: #828282;
}

/* line 106, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__textarea {
  max-width: 520px;
  height: 200px !important;
  margin: 0 auto;
  border-radius: 4px !important;
}

/* line 113, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__form {
  padding: 32px 24px;
  max-width: 448px;
  margin: 0 auto;
  background: #F2F2F2;
  border-radius: 8px;
  margin-top: 52px;
}

/* line 122, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__form-footer {
  margin-top: 36px;
}

/* line 9, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_main.scss */
main {
  padding-bottom: 88px;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 7, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer__list {
  padding: 32px 0 !important;
  border-radius: 8px;
}

/* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer__list li:first-child {
  font-size: 14px;
  font-family: 'Nunito-Bold';
  font-weight: bold;
  color: #BDBDBD;
}

/* line 17, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer__list li:last-child a {
  line-height: 22px;
  font-family: 'Nunito-Bold';
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 90, 95, 0.7);
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn {
  text-transform: capitalize;
}

/* line 4, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand {
  border-radius: 4px !important;
  box-shadow: none !important;
  font-weight: 400;
  line-height: 15px;
  padding: 12px 22px;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--danger {
  background: #FF5A5F;
  color: #FFF;
}

/* line 17, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--primary {
  background: #6EC0D4;
  color: #FFF;
}

/* line 21, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--facebook {
  background: #4267B2;
  color: #FFF;
}

/* line 26, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--instagram {
  background: #3F729B;
  color: #FFF;
}

/* line 31, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--custom {
  width: 192px;
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-size: 20px;
  font-weight: bold;
  padding: 12px !important;
}

/* line 40, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--custom-block {
  line-height: 23px;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 11px 0 !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_cards.scss */
.card {
  border-radius: 0 !important;
}

/*# sourceMappingURL=../css/main.map */