.none-list-style-type{
    list-style-type: none;
}
//MAGIN
.mt-52{
    margin-top: 52px !important;
}
// COLORS
.c-red{
    color: $brand_color_red !important; 
}

.c-blue{
    color: $brand_color_blue !important; 
}

// FONT WEIGHT
.fw-600{
    font-weight: 600 !important;
}

//OPACITY
.opacity_1{
    opacity: 1 !important;
}