.btn{
    text-transform: capitalize;
}
.btn-brand{
    border-radius: 4px !important;
    box-shadow: none !important;
    font-weight: 400;
    line-height: 15px;
    padding: 12px 22px;
    
} 

.btn-brand--danger{
    background: #FF5A5F;
    color: #FFF;
}
.btn-brand--primary{
    background: #6EC0D4;
    color: #FFF;
}
.btn-brand--facebook{
    background:  #4267B2;
    color: #FFF;
}

.btn-brand--instagram{
    background: #3F729B;
    color: #FFF;
}

.btn-brand--custom{
    width: 192px;
    line-height: 26px;
    font-family: 'Nunito-Bold';
    font-size: 20px;
    font-weight: bold;
    padding: 12px !important;
}
