.btn-brand{
    border-radius: 8px !important;
    box-shadow: none !important;
    font-weight: 400;
    line-height: 15px;
    padding: 12px 22px;
    
} 

.btn-brand--danger{
    background: #FF5A5F;
    color: #FFF;
}
.btn-brand--primary{
    background: #6EC0D4;
    color: #FFF;
}