.about_us{
    padding: 78.5px 0 52px 0;
    .about_us__big-heading{
        text-align: center;
        line-height: 41px;
        font-family: 'Nunito-SemiBold';
        font-size: 32px;
        font-weight: 600;
        color: #4F4F4F;
        margin-bottom: 24px;
    }
    .about_us__passage{
        font-family: 'Nunito-Regular';
        font-size: 14px;
        color: #4F4F4F;
    }
}