.banner{
    align-items: center;
    display: flex;
    height: 425px;
    justify-content: center;
    .banner__small-heading{
        line-height: 33px;
        font-family: 'Nunito-Regular';
        font-size: 24px;
        color: #333333;
        margin-bottom: 26px;
    }
    .banner__big-heading{
        font-family: 'Nunito-Bold';
        font-weight: bold;
        color: #333333;
        margin-bottom: 24px;
        @media(min-width: 992px){
            font-size: 64px;
            line-height: 81px;
        }
    }

}