.banner{
    align-items: center;
    display: flex;
    height: 425px;
    justify-content: center;
    .banner__small-heading{
        line-height: 33px;
        font-family: 'Nunito-Regular';
        font-size: 24px;
        color: #333333;
        margin-bottom: 26px;
    }
    .banner__big-heading{
        line-height: 88px;
        font-family: 'Nunito-Regular';
        font-size: 64px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 16px;
    }
    .banner__buttons-group{
        .btn{
            width: 192px;
            line-height: 28px;
            font-family: 'Nunito-Regular';
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
            text-transform: capitalize;
            border-radius: 8px !important;
            padding: 11px !important;
        }
    }
}