.project{
    padding: 0  0 45px 0;
    .container--project{
        width: 40%;
    }
    .project__heading{
        margin-bottom: 60px;
        text-align: center;
    }
    .card{
        background-color: transparent !important;
        box-shadow: none !important;
        margin-bottom: 16px;
    }
    .card-body{
        padding: 8px 0 !important;
    }
}


