@media (min-width: 1200px) {
  /* line 2, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_containers.scss */
  .container {
    max-width: 1176px !important;
  }
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

/* line 10, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=phone],
input[type=search-md],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url], textarea.form-control,
select.form-control
input[type=date].input-alternate:focus,
input[type=date].input-alternate:hover,
input[type=datetime-local].input-alternate:focus,
input[type=datetime-local].input-alternate:hover,
input[type=email].input-alternate:focus, input[type=email].input-alternate:hover,
input[type=number].input-alternate:focus, input[type=number].input-alternate:hover, input[type=password].input-alternate:focus, input[type=password].input-alternate:hover, input[type=search-md].input-alternate:focus, input[type=search-md].input-alternate:hover, input[type=search].input-alternate:focus, input[type=search].input-alternate:hover, input[type=tel].input-alternate:focus, input[type=tel].input-alternate:hover, input[type=text].input-alternate:focus, input[type=text].input-alternate:hover, input[type=time].input-alternate:focus, input[type=time].input-alternate:hover, input[type=url].input-alternate:focus, input[type=url].input-alternate:hover,
textarea.md-textarea.input-alternate:focus, textarea.md-textarea.input-alternate:hover {
  box-shadow: none !important;
  box-sizing: border-box !important;
  height: 44px !important;
  border-radius: 4px !important;
  background-color: #FFF;
  border: solid 1px #E0E0E0;
  padding: 0 15px;
  border-bottom: solid 1px #E0E0E0 !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.none-list-style-type {
  list-style-type: none;
}

/* line 5, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.c-red {
  color: #FF5A5F !important;
}

/* line 9, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.c-blue {
  color: #6EC0D4 !important;
}

/* line 14, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.fw-600 {
  font-weight: 600 !important;
}

@font-face {
  font-family: "Nunito-ExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraLightItalic";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-LightItalic";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBoldItalic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-BoldItalic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraBoldItalic";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-BlackItalic";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Nunito-BlackItalic.ttf") format("truetype");
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: transparent;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar {
  border-radius: 0;
  box-shadow: none !important;
  margin-bottom: 0 !important;
  padding: 32px 0 0 0 !important;
}

/* line 12, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .navbar-brand {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 991px) {
  /* line 12, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
  .navbar .navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

/* line 22, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .navbar-brand img {
  max-height: 80px !important;
}

@media (max-width: 991px) {
  /* line 22, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
  .navbar .navbar-brand img {
    height: 40px;
  }
}

/* line 30, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link {
  font-size: 24px;
  line-height: 33px !important;
  padding: 17px 12px !important;
  font-family: "Nunito-SemiBold";
  font-weight: 600;
  text-transform: capitalize;
}

/* line 39, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link__red {
  color: #FF5A5F !important;
}

/* line 43, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link__blue {
  color: #6EC0D4 !important;
}

/* line 47, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-item {
  position: relative;
}

/* line 50, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-item:last-child .nav-link {
  padding-right: 0 !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner {
  align-items: center;
  display: flex;
  height: 425px;
  justify-content: center;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner .banner__small-heading {
  line-height: 33px;
  font-family: 'Nunito-Regular';
  font-size: 24px;
  color: #333333;
  margin-bottom: 26px;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner .banner__big-heading {
  line-height: 81px;
  font-family: 'Nunito-Bold';
  font-size: 64px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 24px;
}

/* line 22, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner .banner__buttons-group .btn {
  width: 192px;
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 4px !important;
  padding: 12px !important;
}

/* line 2, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .container--features {
  margin: 0 auto;
  width: 72%;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__heading {
  margin-bottom: 60px;
  text-align: center;
}

/* line 10, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__col {
  position: relative;
  height: 304px;
  /**height of image */
  margin-bottom: 50px;
}

/* line 16, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__card {
  max-width: 55%;
  width: 100%;
}

/* line 21, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__graphics {
  position: absolute;
  max-width: 45%;
  width: 100%;
}

/* line 26, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__graphics.feature__graphics--left {
  left: 15px;
}

/* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__graphics.feature__graphics--right {
  right: 15px;
}

/* line 33, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__watermark {
  color: #CDCDCD;
  font-size: 60px;
  font-weight: 900;
  opacity: 0.4;
  position: absolute;
  bottom: 40px;
}

/* line 40, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__watermark.feature__watermark--left {
  right: -16px;
}

/* line 43, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__watermark.feature__watermark--right {
  left: 2px;
}

/* line 48, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__balloons-container {
  height: 304px;
  width: 304px;
}

/* line 51, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__balloons-container.feature__balloons-container--left {
  margin-right: auto;
}

/* line 54, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__balloons-container.feature__balloons-container--right {
  margin-left: auto;
}

/* line 58, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_features.scss */
.features .feature__balloons {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_create_project.scss */
.project {
  padding: 0  0 45px 0;
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_create_project.scss */
.project .container--project {
  width: 40%;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_create_project.scss */
.project .project__heading {
  margin-bottom: 60px;
  text-align: center;
}

/* line 10, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_create_project.scss */
.project .card {
  background-color: transparent !important;
  box-shadow: none !important;
  margin-bottom: 16px;
}

/* line 15, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_create_project.scss */
.project .card-body {
  padding: 8px 0 !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs {
  padding: 88.7px 0 65px 0;
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .container {
  max-width: 530px !important;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-tabs {
  border-bottom: 0 !important;
}

/* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
}

/* line 17, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-item:last-child .nav-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
}

/* line 23, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-tabs .nav-link {
  border: 0 !important;
  background-color: #F2F2F2;
  line-height: 28px;
  font-family: 'Nunito-Regular';
  font-size: 20px;
  font-weight: 600;
  color: #4F4F4F;
  padding: 21px;
}

/* line 33, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-tabs .nav-item.show .nav-link, section.tabs .nav-tabs .nav-link.active {
  color: #4F4F4F;
  background-color: transparent;
}

/* line 38, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab-body {
  background: #F2F2F2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 18px 42px 32px 42px;
}

/* line 44, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__buttons-group {
  margin-bottom: 25px;
}

/* line 46, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__buttons-group .btn {
  width: 200px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 14px 0 11px 0;
  line-height: 25px;
  font-family: 'Nunito-Regular';
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px !important;
}

/* line 59, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .divider {
  text-align: center;
  border-top: 1px solid #171717;
  margin: 0 auto;
  max-width: 372px;
  display: block;
}

/* line 66, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .divider__word {
  position: relative;
  top: -13px;
  width: 40px;
  margin: 0 auto;
  background: #F2F2F2;
}

/* line 74, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__form label {
  line-height: 22px;
  font-family: 'Nunito-Regular';
  font-size: 16px;
  font-weight: 600;
  color: #4f4f4f;
}

/* line 81, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__form input {
  margin: 0 !important;
}

/* line 84, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__form .md-form {
  margin-bottom: 16px;
}

/* line 87, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__form .rememberme {
  line-height: 20px;
  font-family: 'Nunito-Regular';
  font-size: 14px;
  font-weight: 600;
}

/* line 93, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__form .btn {
  margin-top: 24px;
  line-height: 25px;
  font-family: 'Nunito-Regular';
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 9px 0;
  border-radius: 4px !important;
}

/* line 8, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_main.scss */
main {
  padding-bottom: 92px;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 7, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer__list {
  padding: 32px 24px !important;
  border-radius: 8px;
}

/* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer__list li:first-child {
  font-size: 14px;
  font-family: 'Nunito-Bold';
  font-weight: bold;
  color: #BDBDBD;
}

/* line 17, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer__list li:last-child a {
  line-height: 22px;
  font-family: 'Nunito-Bold';
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 90, 95, 0.7);
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn {
  text-transform: capitalize;
}

/* line 4, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand {
  border-radius: 3px !important;
  box-shadow: none !important;
  font-weight: 400;
  line-height: 15px;
  padding: 12px 22px;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--danger {
  background: #FF5A5F;
  color: #FFF;
}

/* line 17, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--primary {
  background: #6EC0D4;
  color: #FFF;
}

/* line 21, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--facebook {
  background: #316280;
  color: #FFF;
}

/* line 26, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--twitter {
  background: #00D0DB;
  color: #FFF;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_cards.scss */
.card {
  border-radius: 0 !important;
}

/*# sourceMappingURL=../css/main.map */