@media (min-width: 1200px) {
  /* line 2, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_containers.scss */
  .container {
    max-width: 1176px !important;
  }
  /* line 5, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_containers.scss */
  .container--smaller {
    max-width: 950px !important;
  }
  /* line 8, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_containers.scss */
  .container--w754 {
    max-width: 754px !important;
  }
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

/* line 10, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=phone],
input[type=search-md],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url], textarea.form-control,
select.form-control input[type=date].input-alternate:focus,
input[type=date].input-alternate:hover,
input[type=datetime-local].input-alternate:focus,
input[type=datetime-local].input-alternate:hover,
input[type=email].input-alternate:focus, input[type=email].input-alternate:hover,
input[type=number].input-alternate:focus, input[type=number].input-alternate:hover, input[type=password].input-alternate:focus, input[type=password].input-alternate:hover, input[type=search-md].input-alternate:focus, input[type=search-md].input-alternate:hover, input[type=search].input-alternate:focus, input[type=search].input-alternate:hover, input[type=tel].input-alternate:focus, input[type=tel].input-alternate:hover, input[type=text].input-alternate:focus, input[type=text].input-alternate:hover, input[type=time].input-alternate:focus, input[type=time].input-alternate:hover, input[type=url].input-alternate:focus, input[type=url].input-alternate:hover,
textarea.md-textarea.input-alternate:focus, textarea.md-textarea.input-alternate:hover {
  box-shadow: none !important;
  box-sizing: border-box !important;
  height: 44px !important;
  border-radius: 4px !important;
  background-color: #FFF;
  border: solid 1px #E0E0E0;
  padding: 0 15px;
  border-bottom: solid 1px #E0E0E0 !important;
}

/* line 41, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
label, .account .account__credits {
  line-height: 22px;
  font-family: 'Nunito-Regular';
  font-size: 16px;
  font-weight: 600;
  color: #4f4f4f;
}

/* line 48, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
input {
  margin: 0 !important;
}

/* line 51, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_reset.scss */
.md-form {
  margin-bottom: 16px;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.none-list-style-type {
  list-style-type: none;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.bg-grey {
  background-color: #F2F2F2 !important;
}

/* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.mt-20 {
  margin-top: 20px !important;
}

/* line 14, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.mt-32 {
  margin-top: 32px !important;
}

/* line 17, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.mt-52 {
  margin-top: 52px !important;
}

/* line 20, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.mb-80 {
  margin-bottom: 80px !important;
}

/* line 25, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.c-red {
  color: #FF5A5F !important;
}

/* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.c-blue {
  color: #6EC0D4 !important;
}

/* line 34, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.fw-600 {
  font-weight: 600 !important;
}

/* line 39, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.opacity_1 {
  opacity: 1 !important;
}

/* line 44, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.pos-rel {
  position: relative;
}

/* line 47, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.pos-abs {
  position: absolute;
}

/* line 52, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.list-style-type-none {
  list-style-type: none !important;
}

/* line 57, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.pt-24 {
  padding-top: 24px;
}

/* line 60, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.pr-32 {
  padding-right: 32px;
}

/* line 63, /home/jide/Documents/repos/fotomi/templates/assets/scss/base/_base.scss */
.pr-67 {
  padding-right: 67px;
}

@font-face {
  font-family: "Nunito-ExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraLightItalic";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-LightItalic";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nunito-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBoldItalic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nunito-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-BoldItalic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraBoldItalic";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nunito-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-BlackItalic";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Nunito-BlackItalic.ttf") format("truetype");
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: transparent;
}

/* line 5, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar-collapse {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-align: center;
  align-items: center;
}

/* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar {
  border-radius: 0;
  box-shadow: none !important;
  margin-bottom: 0 !important;
}

@media (min-width: 992px) {
  /* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
  .navbar {
    padding: 32px 0 0 0 !important;
  }
}

/* line 19, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .navbar-brand {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 991px) {
  /* line 19, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
  .navbar .navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

/* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .navbar-brand img {
  max-height: 65.7px !important;
}

@media (max-width: 991px) {
  /* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
  .navbar .navbar-brand img {
    height: 40px;
  }
}

/* line 37, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link {
  font-size: 20px;
  line-height: 26px !important;
  padding: 17px 8px !important;
  font-family: "Nunito-SemiBold";
  font-weight: 600;
  text-transform: capitalize;
}

/* line 44, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link i {
  font-size: 30px;
}

/* line 49, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link__red {
  color: #FF5A5F !important;
}

/* line 53, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link__blue {
  color: #6EC0D4 !important;
}

/* line 56, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 100%;
  min-height: 22px;
  min-width: 22px;
  top: 5px;
  right: 5px;
}

/* line 67, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-item {
  position: relative;
}

/* line 70, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-item:last-child .nav-link {
  padding-right: 0 !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.nav-open .rightSideBar {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

/* line 9, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar {
  border-left: 1px solid #F2F2F2;
  position: fixed;
  display: block;
  top: 0;
  height: 100%;
  width: 300px;
  right: 0;
  z-index: 1032;
  visibility: visible;
  background: #F2F2F2;
  overflow-y: visible;
  border-top: none;
  text-align: left;
  padding: 145px 0px 0px 0px;
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

/* line 34, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus {
  list-style-type: none;
  padding-left: 0 !important;
  text-align: right;
}

/* line 38, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus a {
  display: block;
  padding: 15px;
}

/* line 42, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus .nav-item {
  border-bottom: 1px solid #F2F2F2;
}

/* line 45, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus .nav-item.active .nav-link {
  background-color: #E0E0E0;
}

/* line 49, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus .nav-item a {
  font-size: 20px;
  padding: 17px 67px !important;
  text-transform: capitalize;
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-weight: bold;
  color: #828282;
}

/* line 57, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus .nav-item a.nav-link__red {
  color: #FF5A5F !important;
}

/* line 61, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus .nav-item a.nav-link__blue {
  color: #6EC0D4 !important;
}

/* line 69, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus .btn--brand-outline {
  line-height: 21px;
  font-family: 'Nunito-ExtraBold';
  font-size: 16px;
  font-weight: 800;
}

/* line 75, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus .menus__heading {
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-size: 20px;
  font-weight: bold;
  color: #4F4F4F;
  margin-bottom: 8px;
}

/* line 83, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
.rightSideBar .menus .menus__paragraph {
  line-height: 21px;
  font-family: 'Nunito-Bold';
  font-size: 16px;
  font-weight: bold;
  color: #828282;
  margin-bottom: 11px;
}

/* line 94, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
#bodyClick {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: auto;
  right: 300px;
  content: "";
  z-index: 9999;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  /* line 109, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
  .nav-open .wrapper {
    left: 0;
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}

@media (max-width: 991px) {
  /* line 120, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_rightSideBar.scss */
  .wrapper {
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner {
  align-items: center;
  display: flex;
  height: 425px;
  justify-content: center;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner .banner__small-heading {
  line-height: 33px;
  font-family: 'Nunito-Regular';
  font-size: 24px;
  color: #333333;
  margin-bottom: 26px;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
.banner .banner__big-heading {
  font-family: 'Nunito-Bold';
  font-weight: bold;
  color: #333333;
  margin-bottom: 24px;
}

@media (min-width: 992px) {
  /* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_banner.scss */
  .banner .banner__big-heading {
    font-size: 64px;
    line-height: 81px;
  }
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs {
  padding: 88.7px 0 65px 0;
}

@media (max-width: 425px) {
  /* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
  section.tabs {
    padding: 60px 0 40px 0;
  }
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .container {
  max-width: 530px !important;
}

/* line 9, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-tabs {
  border-bottom: 0 !important;
}

/* line 14, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
}

/* line 20, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-item:last-child .nav-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
}

/* line 26, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-tabs .nav-link {
  border: 0 !important;
  background-color: transparent;
  line-height: 28px;
  font-family: 'Nunito-Regular';
  font-size: 20px;
  font-weight: 600;
  color: #4F4F4F;
  padding: 21px;
}

@media (max-width: 425px) {
  /* line 26, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
  section.tabs .nav-tabs .nav-link {
    padding: 12px !important;
  }
}

/* line 39, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .nav-tabs .nav-item.show .nav-link, section.tabs .nav-tabs .nav-link.active {
  color: #4F4F4F;
  background-color: #F2F2F2;
}

/* line 44, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab-body {
  background: #F2F2F2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 18px 42px 32px 42px;
}

@media (max-width: 425px) {
  /* line 44, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
  section.tabs .tab-body {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 54, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__buttons-group {
  margin-bottom: 31px;
}

/* line 56, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__buttons-group .btn {
  width: 200px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 10px 0 9px 0;
  line-height: 25px;
  font-family: 'Nunito-Regular';
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px !important;
}

/* line 66, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__buttons-group .btn [class*='fa-'] {
  font-size: 1.51rem;
  vertical-align: middle;
  margin-top: -8px;
  margin-right: 8px;
}

@media (max-width: 425px) {
  /* line 56, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
  section.tabs .tab__buttons-group .btn {
    font-size: initial !important;
    width: 150px;
  }
}

/* line 79, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .divider {
  text-align: center;
  border-top: 1px solid #BDBDBD;
  margin: 0 auto 9px auto;
  max-width: 387px;
  display: block;
}

/* line 86, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .divider__word {
  position: relative;
  top: -13px;
  width: 40px;
  margin: 0 auto;
  background: #F2F2F2;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: 600;
  color: #4F4F4F;
}

/* line 98, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__form .rememberme {
  line-height: 20px;
  font-family: 'Nunito-Regular';
  font-size: 14px;
  font-weight: 600;
}

/* line 104, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_tabs.scss */
section.tabs .tab__form .btn {
  margin-top: 24px;
  line-height: 25px;
  font-family: 'Nunito-Regular';
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 9px 0;
  border-radius: 4px !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account {
  padding: 80px 0 58px 0;
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account label, .account .account__credits {
  line-height: 16px;
  font-family: 'Nunito-SemiBold';
  font-size: 18px;
  font-weight: 600 !important;
  color: #4F4F4F;
}

/* line 10, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .form-group {
  margin-bottom: 10px;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .btn--brand-outline {
  line-height: 22.9px;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: bold;
}

/* line 19, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .card {
  border: solid 1px #E0E0E0;
  border-radius: 4px;
  box-shadow: none !important;
}

/* line 24, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .card-body {
  padding: 29px 24px;
}

/* line 27, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__big-heading {
  line-height: 41px;
  font-family: 'Nunito-SemiBold';
  font-size: 32px;
  font-weight: 600;
  color: #333333;
  text-align: center;
  margin-bottom: 60px;
}

/* line 36, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__heading {
  line-height: 26px;
  font-family: 'Nunito-SemiBold';
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0;
}

/* line 44, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__hr {
  margin-top: 8px;
}

/* line 47, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__input {
  height: 30px !important;
  border: 0 !important;
  line-height: 21px;
  font-family: 'Nunito-Regular';
  font-size: 16px;
  color: #828282;
  padding-left: 4px;
  max-width: 250px;
  margin-left: 4px !important;
}

/* line 58, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__details {
  margin-bottom: 50px !important;
}

/* line 61, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__wallet {
  margin-bottom: 90px !important;
}

/* line 67, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__statement {
  padding: 16px 16px 16px 24px;
  background: #F2F2F2;
  margin-bottom: 16px;
}

/* line 72, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__statementName {
  line-height: 23px;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: bold;
  color: #4F4F4F;
}

/* line 79, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__statementDetail {
  line-height: 21px;
  font-family: 'Nunito-SemiBold';
  font-size: 16px;
  font-weight: 600;
  color: #828282;
}

/* line 86, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__statementPrice {
  line-height: 26px;
  font-family: 'Nunito-SemiBold';
  font-size: 20px;
  font-weight: 600;
  color: #4F4F4F;
}

/* line 93, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__month {
  line-height: 26px;
  font-family: 'Nunito-SemiBold';
  font-size: 20px;
  font-weight: 600;
  color: #4F4F4F;
  text-transform: uppercase;
}

/* line 101, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_account.scss */
.account .account__date {
  display: block;
  line-height: 31px;
  font-family: 'Nunito-SemiBold';
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  text-align: right;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.about_us {
  padding: 80px 0 52px 0;
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.about_us .about_us__big-heading {
  text-align: center;
  line-height: 41px;
  font-family: 'Nunito-SemiBold';
  font-size: 32px;
  font-weight: 600;
  color: #4F4F4F;
  margin-bottom: 24px;
}

/* line 12, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.about_us .about_us__passage {
  font-family: 'Nunito-Regular';
  font-size: 14px;
  color: #4F4F4F;
}

/* line 20, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-about .input-alternate {
  line-height: 21px;
  font-family: 'Nunito-SemiBold';
  font-size: 16px !important;
  font-weight: 600;
  color: #828282;
}

/* line 27, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-about textarea.md-textarea.input-alternate {
  height: 70px !important;
}

/* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-about textarea.md-textarea.input-alternate:focus {
  height: 70px !important;
}

/* line 33, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-about .btn.btn-brand {
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 12px 32px;
}

/* line 41, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-about form {
  padding-bottom: 58px;
}

/* line 44, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-about .footer-about__heading {
  line-height: 31px;
  font-family: 'Nunito-Medium';
  font-size: 24px;
  font-weight: 500;
  color: #4F4F4F;
  margin-bottom: 8px;
}

/* line 52, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-about .footer-about__passage {
  line-height: 21px;
  font-family: 'Nunito-SemiBold';
  font-size: 16px;
  font-weight: 600;
  color: #4F4F4F;
  margin-bottom: 16px;
}

/* line 63, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-connect ul {
  margin-bottom: 41px;
}

/* line 66, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-connect li {
  line-height: 18px;
  font-family: 'Nunito-Medium';
  font-size: 14px;
  font-weight: 500;
  color: #4F4F4F;
}

/* line 73, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-connect .footer-connect__heading {
  line-height: 23px;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: bold;
  color: #4F4F4F;
}

/* line 80, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-connect .footer-connect__paragraph {
  line-height: 21px;
  font-family: 'Nunito-Medium';
  font-size: 16px;
  font-weight: 500;
  color: #4F4F4F;
  margin-bottom: 8px;
}

/* line 88, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_about_us.scss */
.footer-connect .footer-connect__address {
  font-family: 'Nunito-Regular';
  font-size: 14px;
  color: #4F4F4F;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  display: none;
  padding: 32px 91px 26px 91px !important;
  position: relative;
  width: 100%;
  max-width: 692px;
}

/* line 10, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal input[type='file'] {
  display: none;
}

@media (max-width: 525px) {
  /* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
  .modal {
    padding: 32px 15px 26px 15px !important;
  }
}

/* line 18, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__heading {
  font-family: 'Nunito-SemiBold';
  font-size: 16px;
  font-weight: 600;
  color: #4F4F4F;
  margin-bottom: 32px;
}

/* line 26, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__file-container {
  margin: 8px auto 34px auto;
}

/* line 30, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__divider input[type='radio'] {
  width: 16px;
  height: 16px;
  align-self: center;
}

/* line 35, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__divider label, .modal__divider .account .account__credits, .account .modal__divider .account__credits {
  line-height: 21px;
  font-family: 'Nunito-SemiBold';
  font-size: 16px;
  font-weight: 600;
  color: #4F4F4F;
  align-self: center;
}

/* line 45, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__file-label {
  border: 1px solid #BDBDBD;
  background-color: transparent;
  padding: 0;
  max-width: 400px;
  font-size: 12px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
}

/* line 60, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__file-label span,
.modal__file-label strong {
  padding: 0.625rem 1.25rem;
}

/* line 64, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__file-label span {
  flex: 1;
}

/* line 67, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_modals.scss */
.modal__file-label strong {
  height: 100%;
  background-color: #E0E0E0;
  display: inline-block;
  font-family: 'Nunito-SemiBold';
  font-size: 16px;
  font-weight: 600;
  color: #828282;
  width: 105px;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_parsley-error.scss */
.parsley-errors-list.filled {
  list-style-type: none;
  padding-left: 0;
  font-family: 'Nunito-Regular';
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb-container {
  position: absolute;
  top: -58px;
}

@media (max-width: 475px) {
  /* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_breadcrumb.scss */
  .breadcrumb-container {
    display: none;
  }
}

/* line 8, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb {
  background-color: transparent;
  padding-left: 0 !important;
  margin-bottom: 0;
}

/* line 14, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #868e96;
  content: ">" !important;
}

/* line 22, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb-item.active, .breadcrumb-item a {
  line-height: 23px;
  font-family: 'Nunito-Medium';
  font-size: 18px;
  font-weight: 500;
  color: #BDBDBD;
}

/* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb-item.active {
  color: #828282 !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads {
  padding: 89.5px 0 160px 0;
}

/* line 4, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__heading {
  line-height: 41px;
  font-family: 'Nunito-Bold';
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 8px;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__subheading {
  line-height: 23px;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: bold;
  color: #828282;
  margin-bottom: 16px;
}

/*styling of input/photo */
/* line 23, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__image-container {
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-bottom: 34px;
}

/* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__picture {
  max-width: 200px;
  height: 173.3px;
  margin: 5px auto;
  overflow: hidden;
}

@media (max-width: 425px) {
  /* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
  .uploads__picture {
    height: auto;
  }
}

/* line 39, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 50, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_uploads.scss */
.uploads__picture-src {
  width: 100%;
  height: 100%;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_mask.scss */
.mask__wrap {
  width: 79px;
}

/* line 5, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_mask.scss */
.mask__circle {
  width: 56px;
  height: 56px;
  background-color: #BDBDBD;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 0.5px;
  border-image-source: linear-gradient(to top, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
  border-image-slice: 1;
  border-radius: 100%;
  color: #FFF;
}

/* line 18, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_mask.scss */
.mask__text {
  font-family: 'Nunito-Bold';
  font-size: 24px;
  font-weight: bold;
  color: #828282;
  margin: 24px 0 0 0;
}

/* line 3, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects {
  padding: 89.5px 0 58px 0;
}

/* line 5, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .card {
  box-shadow: none !important;
  background: transparent !important;
}

@media (max-width: 575px) {
  /* line 9, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
  .projects .card.card-plus {
    margin-bottom: 30px;
  }
}

/* line 14, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .card-body {
  padding: 16px 0 !important;
}

/* line 16, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .card-body div.d-flex {
  margin-bottom: 16px;
}

/* line 20, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .view.overlay {
  border-radius: 4px !important;
  border: solid 1px #E0E0E0;
}

/* line 24, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects .btn-brand--custom-block {
  margin-top: 24px;
}

/* line 27, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects label.mask, .projects .account .mask.account__credits, .account .projects .mask.account__credits {
  opacity: 1 !important;
}

/* line 29, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects label.mask .mask__input, .projects .account .mask.account__credits .mask__input, .account .projects .mask.account__credits .mask__input {
  height: 24px;
  width: 24px;
  top: 16px;
  right: 16px;
  position: absolute;
}

/* line 37, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects a.view.overlay {
  cursor: pointer;
}

/* line 41, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__heading {
  line-height: 41px;
  font-family: 'Nunito-Bold';
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 8px;
}

/* line 50, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__subheading {
  line-height: 18px;
  font-family: 'Nunito-Bold';
  font-size: 14px;
  font-weight: bold;
  color: #BDBDBD;
  margin-bottom: 36px;
}

/* line 59, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__subheading-button {
  margin-top: 15px;
  margin-bottom: 52px;
}

/* line 64, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__line {
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-size: 20px;
  font-weight: bold;
  color: #4F4F4F;
  margin-bottom: 16px;
}

/* line 71, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__line span {
  line-height: 22px;
  font-family: 'Nunito-BoldItalic';
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #BDBDBD;
}

@media (max-width: 425px) {
  /* line 71, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
  .projects__line span {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  /* line 64, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
  .projects__line {
    font-size: 12px;
  }
}

/* line 86, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__paragraph {
  line-height: 23px;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: bold;
  color: #828282;
}

/* line 93, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__img {
  width: 100%;
  height: 260px;
}

/* line 98, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__name {
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-size: 20px;
  font-weight: bold;
  color: #4F4F4F;
}

/* line 106, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__date,
.projects__correction {
  line-height: 21px;
  font-family: 'Nunito-Bold';
  font-size: 16px;
  font-weight: bold;
  color: #BDBDBD;
}

/* line 116, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__number {
  line-height: 21px;
  font-family: 'Nunito-Regular';
  font-size: 16px;
  color: #828282;
}

/* line 123, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__textarea {
  max-width: 520px;
  height: 200px !important;
  margin: 0 auto;
  border-radius: 4px !important;
}

/* line 130, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__form {
  padding: 32px 24px;
  max-width: 448px;
  margin: 0 auto;
  background: #F2F2F2;
  border-radius: 8px;
  margin-top: 52px;
}

@media (max-width: 475px) {
  /* line 130, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
  .projects__form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 143, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__form-footer {
  margin-top: 36px;
}

/* line 147, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__watermark {
  width: 163px;
  height: 161px;
  position: absolute;
  top: 119.3px;
}

/* line 152, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__watermark img {
  width: 100%;
  height: 100%;
}

@media (max-width: 475px) {
  /* line 147, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
  .projects__watermark {
    display: none;
  }
}

/* line 161, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__watermark-left {
  left: 0;
}

/* line 165, /home/jide/Documents/repos/fotomi/templates/assets/scss/modules/_projects.scss */
.projects__watermark-right {
  right: 0;
}

/* line 11, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_main.scss */
main {
  padding-bottom: 88px;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer {
  width: 100%;
  bottom: 0;
}

/* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer__list {
  padding: 32px 0 !important;
  border-radius: 8px;
}

@media (max-width: 425px) {
  /* line 6, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
  .footer__list {
    flex-wrap: wrap-reverse;
    padding: 16px 0 !important;
  }
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer__list li:first-child {
  font-size: 14px;
  font-family: 'Nunito-Bold';
  font-weight: bold;
  color: #BDBDBD;
}

@media (max-width: 425px) {
  /* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
  .footer__list li:first-child {
    flex: 0 0 100%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  /* line 23, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
  .footer__list li:last-child {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-around;
    margin-bottom: 10px;
  }
}

/* line 30, /home/jide/Documents/repos/fotomi/templates/assets/scss/layout/_footer.scss */
.footer__list li:last-child a {
  line-height: 22px;
  font-family: 'Nunito-Bold';
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 90, 95, 0.7);
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn {
  text-transform: capitalize;
}

/* line 4, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand {
  border-radius: 4px !important;
  box-shadow: none !important;
  font-weight: 400;
  line-height: 15px;
  padding: 12px 22px;
}

/* line 13, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--danger {
  background: #FF5A5F;
  color: #FFF;
}

/* line 17, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--primary {
  background: #6EC0D4;
  color: #FFF;
}

/* line 21, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--facebook {
  background: #4267B2;
  color: #FFF;
}

/* line 26, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--instagram {
  background: #3F729B;
  color: #FFF;
}

/* line 31, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--custom {
  width: 132px;
  line-height: 26px;
  font-family: 'Nunito-Bold';
  font-size: 20px;
  font-weight: bold;
  padding: 12px !important;
}

/* line 40, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--landing {
  width: 148px;
  line-height: 23px;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: bold;
}

/* line 48, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn-brand--custom-block {
  line-height: 23px;
  font-family: 'Nunito-Bold';
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 11px 0 !important;
}

/* line 55, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn--brand-outline {
  background: transparent;
  background-color: transparent;
  box-shadow: none;
  color: #6EC0D4 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 62, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_buttons.scss */
.btn--brand-outline:hover {
  box-shadow: none !important;
}

/* line 1, /home/jide/Documents/repos/fotomi/templates/assets/scss/components/_cards.scss */
.card {
  border-radius: 0 !important;
}

/*# sourceMappingURL=../css/main.map */