<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fotomi</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/bootstrap.min.css">

		

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/mdb.min.css">

		

		<!-- main css -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		

		
	</head>
	<body>

		<div class="wrapper">
			<header>
				<!--Navbar-->
				<nav class="mb-1 navbar navbar-expand-lg navbar-light">
					<div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="assets/img/logo/logo.png"/>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link waves-effect waves-light" href="immersive_courses.html">Sign up <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link waves-effect waves-light" href="accelerated.html">Login </a>
                                </li>
                            </ul>
                        </div>
					</div>
                </nav>
                
            </header>
             
            <div class="container container--inside">
                <main>
                    

                    <!-- Welcome banner -->
                    <section class="banner">
                        <div>
                            <h4 class="banner__small-heading">Welcome to <span class="c-red">fotomi</span></h4>
                            <h2 class="banner__big-heading">A uniquely better ways to get your pictures</h2>
                            <div class="banner__buttons-group">
                                <button class="btn btn-primary">Create A Project</button>
                                <button class="btn btn-danger">Sign up</button>
                            </div>
                        </div>
                    </section>

                    <!-- Features -->
                    <section class="features">
                        <div>
                            <h4 class="feature__heading">Features</h4>
                            <div class="row">
                                <div class="col col-sm-12">
                                    <div class="feature__graphics">
                                        <div class="feature__balloons-container">
                                            <img src="#" class="feature__balloons" />
                                        </div>
                                        <div class="feature__watermark">
                                            <span>1</span>
                                        </div>
                                    </div>                                     
                                    <!--Card-->
                                    <div class="card">
                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title">Card title</h4>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                    <!--/.Card-->           
                                </div>

                                <div class="col col-sm-12">
                                    <!--Card-->
                                    <div class="card">
                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title">Card title</h4>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                    <!--/.Card--> 
                                </div>

                                <div class="col col-sm-12">
                                    <!--Card-->
                                    <div class="card">
                                        <!--Card content-->
                                        <div class="card-body">
                                            <!--Title-->
                                            <h4 class="card-title">Card title</h4>
                                            <!--Text-->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                    <!--/.Card--> 
                                </div>

                            </div>
                        </div>
                    </section>
                    
                </main>
                <footer>
                    
                </footer>
            </div>
		</div>

		
		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/jquery-3.2.1.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/popper.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="assets/js/main.js"></script>
		
		
	</body>
</html>