<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fotomi</title>
        
        <!-- Custom Modal -->
        <link rel="stylesheet" href="assets/node_modules/custombox/dist/custombox.min.css">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/bootstrap.min.css">

		

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/mdb.min.css">

		

		<!-- main css -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		

		
	</head>
	<body>

		<div class="wrapper">
			<header>
				<!--Navbar-->
				<nav class="mb-1 navbar navbar-expand-lg navbar-light">
					<div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="assets/img/logo/logo.png"/>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link nav-link__red waves-effect waves-light modal-btn" href="#" data-id="sign_up">Sign up <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link nav-link__blue waves-effect waves-light modal-btn" href="#" data-id="log_in">Login </a>
                                </li>
                            </ul>
                        </div>
					</div>
                </nav>
                <!-- Welcome banner -->
                <section class="banner">
                    <div class="text-center">
                        <h4 class="banner__small-heading">Welcome to <span class="c-red">fotomi</span></h4>
                        <h2 class="banner__big-heading">A uniquely better ways to get your pictures</h2>
                        <div class="banner__buttons-group">
                            <a class="btn btn-brand btn-brand--danger" href="create_project.html">Create A Project</a>
                            <a class="btn btn-brand btn-brand--primary modal-btn" data-id="sign_up">Sign up</a>
                        </div>
                    </div>
                </section>
            </header>
             
            
            <main>
                
                <!-- FEATURES -->
                <section class="features">
                    <div class="container container--features">

                        <h4 class="feature__heading">Features</h4>
                        <div class="row">
                            <div class="col col-sm-12 feature__col d-flex align-items-center justify-content-end">
                                <!-- features graphics -->
                                <div class="feature__graphics feature__graphics--left">
                                    <div class="feature__balloons-container feature__balloons-container--left">
                                        <img src="assets/img/icons/code.png" class="feature__balloons" />
                                    </div>
                                    <div class="feature__watermark feature__watermark--left">
                                        <span>01.</span>
                                    </div>
                                </div>                                     
                                <!--Card-->
                                <div class="card feature__card">
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">Card title</h4>
                                        <!--Text-->

                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                                <!--/.Card-->           
                            </div>
                            <div class="col col-sm-12 feature__col d-flex align-items-center justify-content-start">
                                <!-- features graphics -->
                                <div class="feature__graphics feature__graphics--right">
                                    <div class="feature__balloons-container feature__balloons-container--right">
                                        <img src="assets/img/icons/arrow_down.png" class="feature__balloons" />
                                    </div>
                                    <div class="feature__watermark feature__watermark--right">
                                        <span>02.</span>
                                    </div>
                                </div>                                     
                                <!--Card-->
                                <div class="card feature__card">
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">Card title</h4>
                                        <!--Text-->

                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                                <!--/.Card-->           
                            </div>
                            <div class="col col-sm-12 feature__col d-flex align-items-center justify-content-end">
                                <!-- features graphics -->
                                <div class="feature__graphics feature__graphics--left">
                                    <div class="feature__balloons-container feature__balloons-container--left">
                                        <img src="assets/img/icons/arrow_down.png" class="feature__balloons" />
                                    </div>
                                    <div class="feature__watermark feature__watermark--left">
                                        <span>03.</span>
                                    </div>
                                </div>                                     
                                <!--Card-->
                                <div class="card feature__card">
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">Card title</h4>
                                        <!--Text-->

                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                                <!--/.Card-->           
                            </div>
                            <div class="col col-sm-12 feature__col d-flex align-items-center justify-content-start">
                                <!-- features graphics -->
                                <div class="feature__graphics feature__graphics--right">
                                    <div class="feature__balloons-container feature__balloons-container--right">
                                        <img src="assets/img/icons/arrow_down.png" class="feature__balloons" />
                                    </div>
                                    <div class="feature__watermark feature__watermark--right">
                                        <span>04.</span>
                                    </div>
                                </div>                                     
                                <!--Card-->
                                <div class="card feature__card">
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title">Card title</h4>
                                        <!--Text-->

                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                                <!--/.Card-->           
                            </div>
                            

                            

                        </div>
                    </div>
                </section>
                
            </main>

            <!-- FOOTER -->
            <footer class="footer">
                <div class="container">
                    <ul class="d-flex justify-content-between none-list-style-type mb-0 footer__list">
                        <li class="">
                            &copy 2017 Great Simple All right reserved
                        </li>
                        <li class="">
                            <a href="#">About</a>,
                            <a href="#">Contact</a>,
                            <a href="#">Terms</a>,
                            <a href="#">Privacy</a>,
                            <a href="#">Licence</a>,
                            <a href="#">Help</a>
                        </li> 
                    </ul>
                </div>
            </footer>

        
            
            <div id="sign_up" class="modal">
                <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
                <!-- MODAL FORM -->
                <form method="" id="modal__form" class="modal__form">
                    <p class="modal__heading">Sign Up For Fotomi</p>
                    <label for="name">Full Name:</label>
                    <div class="md-form">
                        <input type="text" class="input-alternate form-control" id="name" name="name" placeholder="Enter your name">
                    </div>	
                    <label for="name">Email Address:</label>
                    <div class="md-form">
                        <input type="email" class="input-alternate form-control" id="email" name="email" placeholder="Enter your email">
                    </div>
                    <label for="password">Password:</label>
                    <div class="md-form">
                        <input type="password" class="input-alternate form-control" id="password" name="password">
                    </div>
                    
                    
                    <button type="submit" class="btn btn-brand btn-brand--danger btn-block">Sign Up</button>
                    <p class="text-center mt-3 mb-0">Already a user?..<a href="#" class="c-red modal-btn"  data-id="log_in">Log In</a> </p>
                </form>
                <div class="modal__divider text-center">
                    <p class="mt-3 mb-0">...or sign up with...</p>
                    <div class="modal__buttons-group">
                        <button class="btn btn-brand btn-brand--facebook">Create A Project</button>
                        <button class="btn btn-brand btn-brand--twitter">Sign up</button>
                    </div>
                </div>
            </div>

            <div id="log_in" class="modal">
                <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
                <!-- MODAL FORM -->
                <form method="" id="modal__form" class="modal__form">
                    <p class="modal__heading">Login to Fotomi</p>	
                    <label for="name">Email Address:</label>
                    <div class="md-form">
                        <input type="email" class="input-alternate form-control" id="email" name="email" placeholder="Enter your email">
                    </div>
                    <label for="password">Password:</label>
                    <div class="md-form">
                        <input type="password" class="input-alternate form-control" id="password" name="password">
                    </div>
                    <div class="d-flex justify-content-between">
                        <label>
                            <input type="checkbox" name="rememberme" value="rememberme">Remember Me
                        </label>
                        <a href="#">forgot passowrd?</a>
                    </div>
                    
                    <button type="submit" class="btn btn-brand btn-brand--danger btn-block">Submit</button>
                    <p class="text-center mt-3 mb-0">Not a user?..<a href="#" class="c-red modal-btn"  data-id="sign_up">Sign Up</a> </p>
                </form>
            </div>
        
           
		</div>

		
		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/jquery-3.2.1.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/popper.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/bootstrap.min.js"></script>
        
        <!-- Custom Modal -->
        <script type="text/javascript" src="assets/node_modules/custombox/dist/custombox.min.js"></script>
        <script type="text/javascript" src="assets/node_modules/custombox/dist/custombox.legacy.min.js"></script>

        <!-- Main Js -->
        <script type="text/javascript" src="assets/js/main.js"></script>
        
        <script>
            $(document).ready(function(){
                app.custombox();
            });
        </script>
		
	</body>
</html>