<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fotomi</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/bootstrap.min.css">

		

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/node_modules/mdbootstrap/css/mdb.min.css">

		

		<!-- main css -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		

		
	</head>
	<body>

		<div class="wrapper">
			<header>
				<!--Navbar-->
				<nav class="mb-1 navbar navbar-expand-lg navbar-light">
					<div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="assets/img/logo/logo.png"/>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link nav-link__red waves-effect waves-light" href="#">Sign up <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link nav-link__blue waves-effect waves-light" href="#">Login </a>
                                </li>
                            </ul>
                        </div>
					</div>
                </nav>
            </header>
             
            
            <main>
                
                <!-- PROJECTS -->
                <section class="project">
                    <div class="container">

                        <h4 class="project__heading">Create A Project</h4>
                        <!-- PROJECTS THUMBNAILS -->
                        <div class="row">
                            <div class="col col-md-3">
                                <!--Card-->
                                <div class="card">
                                
                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                
                                    <!--Card content-->
                                    <div class="card-body d-flex justify-content-between">
                                        <span>Adekunle</span>
                                        <span>12/12/2017</span>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <!--Card-->
                                <div class="card">
                                
                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                
                                    <!--Card content-->
                                    <div class="card-body d-flex justify-content-between">
                                        <span>Adekunle</span>
                                        <span>12/12/2017</span>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <!--Card-->
                                <div class="card">
                                
                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                
                                    <!--Card content-->
                                    <div class="card-body d-flex justify-content-between">
                                        <span>Adekunle</span>
                                        <span>12/12/2017</span>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <!--Card-->
                                <div class="card">
                                
                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                
                                    <!--Card content-->
                                    <div class="card-body d-flex justify-content-between">
                                        <span>Adekunle</span>
                                        <span>12/12/2017</span>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <!--Card-->
                                <div class="card">
                                
                                    <!--Card image-->
                                    <div class="view overlay hm-white-slight">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                
                                    <!--Card content-->
                                    <div class="card-body d-flex justify-content-between">
                                        <span>Adekunle</span>
                                        <span>12/12/2017</span>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
                
            </main>

            <!-- FOOTER -->
            <footer class="footer">
                <div class="container">
                    <ul class="d-flex justify-content-between none-list-style-type mb-0 footer__list">
                        <li class="">
                            &copy 2017 Great Simple All right reserved
                        </li>
                        <li class="">
                            <a href="#">About</a>,
                            <a href="#">Contact</a>,
                            <a href="#">Terms</a>,
                            <a href="#">Privacy</a>,
                            <a href="#">Licence</a>,
                            <a href="#">Help</a>
                        </li> 
                    </ul>
                </div>
            </footer>

        
            
        
           
		</div>

		
		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/jquery-3.2.1.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/popper.min.js"></script>

		<script type="text/javascript" src="assets/node_modules/mdbootstrap/js/bootstrap.min.js"></script>
        
       

        <!-- Main Js -->
        <script type="text/javascript" src="assets/js/main.js"></script>
        
        <script>
            
        </script>
		
	</body>
</html>