@import '.././components/_mask.scss';

.projects{
    padding: 60.7px 0 58px 0; 
    .card{
        box-shadow: none !important;
        background: transparent !important;
    }
    .card-body{
        padding: 16px 0 !important;
        div.d-flex{
            margin-bottom: 16px;
        }
    }
    .view.overlay{
        border-radius: 4px !important;
        border: solid 1px #E0E0E0;
    }
    .btn-brand--custom-block{
        margin-top: 24px;
    }
    label.mask{
        opacity: 1 !important;
        .mask__input{
            height: 24px;
            width: 24px;
            top: 16px;
            right: 16px;
            position: absolute;
        }  
    }
    a.view.overlay{
        cursor: pointer;
    }
}
.projects__heading{
    line-height: 41px;
    font-family: 'Nunito-Bold';
    font-size: 32px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 8px;
}

.projects__subheading{
    line-height: 18px;
    font-family: 'Nunito-Bold';
    font-size: 14px;
    font-weight: bold;
    color: #BDBDBD;
    margin-bottom: 40px;
}

.projects__subheading-button{
    margin-top: 15px;
    margin-bottom: 42px;
}

.projects__line{
    line-height: 26px;
    font-family: 'Nunito-Bold';
    font-size: 20px;
    font-weight: bold;
    color: #4F4F4F;
    margin-bottom: 30px;
    span{
        line-height: 22px;
        font-family: 'Nunito-BoldItalic';
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        color: #BDBDBD;
    }
}

.projects__img{
    width: 100%;
    height: 260px;
}

.projects__name{
    line-height: 26px;
    font-family: 'Nunito-Bold';
    font-size: 20px;
    font-weight: bold;
    color: #4F4F4F;
}

.projects__date,
.projects__correction
{
    line-height: 21px;
    font-family: 'Nunito-Bold';
    font-size: 16px;
    font-weight: bold;
    color: #BDBDBD;
}

.projects__number{
    line-height: 21px;
    font-family: 'Nunito-Regular';
    font-size: 16px;
    color: #828282;
}

.projects__textarea{
    max-width: 520px;
    height: 200px !important;
    margin: 0 auto;
    border-radius: 4px !important;
}

.projects__form{
    padding: 32px 24px;
    max-width: 448px;
    margin: 0 auto;
    background: $form_background;
    border-radius: 8px; 
    margin-top: 52px;
}

.projects__form-footer{
    margin-top: 36px;
}